
@inherits SettingsStateComponentBase

<div class="flex-grow text-@(SettingsState.ThemeColorString)-600 @CustomClass">
    @ChildContent
</div>

@code
{       
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string CustomClass {get; set;}
}