@using QuizTime.Features.Settings
@using QuizTime.Shared.UI.Element
@inherits SettingsStateComponentBase
@inject NavigationManager NavManager

<div class="bg-@(SettingsState.ThemeColorString)-500 text-white py-3 flex flex-col">
    <div class="flex flex-row justify-between items-center px-3">
        @if(ShowSettingsButtton)
        {
            <SettingsButton OnClick="OnSettingsClickHandler" CustomClass="opacity-70 hover:opacity-100" />
        }
        else
        {
            <div class="w-8"></div>
        }
        <div>
            <h1 class="font-sans text-4xl">@Title</h1>
        </div>
        @if(ShowCloseButton)
        {
            <CloseButton OnClick="OnCloseClickHandler" />
        }
        else
        {
            <div class="w-8"></div>
        }
    </div>
</div>

@code
{     
    [Parameter]
    public string Title {get; set;}

    [Parameter]
    public bool ShowCloseButton {get; set;}

    [Parameter]
    public bool ShowSettingsButtton {get; set;}

    [Parameter]
    public EventCallback OnClose {get; set;}

    protected async Task OnCloseClickHandler()
    {
        await OnClose.InvokeAsync();
    }

    protected void OnSettingsClickHandler()
    {
        NavManager.NavigateTo("/admin");
    }
}    