
@inherits QuizTime.Client.BlazorWasm.Shared.UI.SettingsStateComponentBase

<button class="py-4 px-8 rounded-lg bg-@(Color)-600 text-@(Color)-100 hover:bg-@(Color)-400 @CustomClass" @onclick="@((args) => OnClickHandler(args))">@Text</button>

@code
{
    [Parameter]
    public string Color {get; set;}

    [Parameter]
    public string Text {get; set;}

    [Parameter]
    public string CustomClass {get; set;}

    [Parameter]
    public EventCallback OnClick { get; set; }

    protected override void OnInitialized()
    {
        Color = SettingsState.ThemeColorString;
        base.OnInitialized();
    }

    private async Task OnClickHandler(MouseEventArgs args)
    {  
        await OnClick.InvokeAsync(args);
    }
}