
@using System
@inherits QuizTime.Client.BlazorWasm.Shared.UI.StateComponentBase

<button type="@ButtonType.ToLower()"
    class="py-4 px-8 rounded-lg shadow bg-@(Color)-600 text-@(Color)-100 hover:bg-@(Color)-400 @CustomClass" @onclick="@((args) => OnClickHandler(args))">@Text</button>

@code
{
    [Parameter]
    public string Color {get; set;}

    [Parameter]
    public string Text {get; set;}

    [Parameter]
    public string ButtonType {get; set;}

    [Parameter]
    public string CustomClass {get; set;}

    [Parameter]
    public EventCallback OnClick { get; set; }


    protected override void OnInitialized()
    {
        Color = State.ThemeColorString;
        ButtonType = String.Empty;
        base.OnInitialized();
    }

    private async Task OnClickHandler(MouseEventArgs args)
    {  
        await OnClick.InvokeAsync(args);
    }
}