@using BlazorState
@inherits SettingsStateComponentBase
@using QuizTime.Features.Settings
@using QuizTime.Features.Game 
@using QuizTime.Shared.UI.Composite

<Header CustomClass="flex flex-col items-center">
    <div> 
        <h1 class="font-sans text-4xl">Quiz Time!</h1>
    </div>
</Header>

<ContentArea CustomClass="flex flex-row justify-center items-center">
    <PlayButton Click="OnClickPlay"/>
</ContentArea>

<Footer />

@code
{
    private GameState GameState => GetState<GameState>();

    private void OnClickPlay()
    {
        Mediator.Send(new GameState.UpdateGameModeAction { Value = GameMode.Play });
    }
}