@page "/"
@using BlazorState
@inherits BlazorStateComponent
@using QuizTime.Features.Settings
@using QuizTime.Features.Game
@using QuizTime.Features.Start
@using QuizTime.Features.Play

<div class="min-h-screen flex flex-col bg-@(SettingsState.ThemeColorString)-100">

    @switch (State.Mode)
    {
        case GameMode.Start:
            <Start />
            break;
        case GameMode.Play:
            <Play />
            break;
        default:
            <Start />
            break;
    }

</div>

@code
{
    private SettingsState SettingsState => GetState<SettingsState>();

    private GameState State => GetState<GameState>();

}