@using BlazorState

@using QuizTime.Client.BlazorWasm.Features.Game 
@using QuizTime.Client.BlazorWasm.Shared.Data
@using QuizTime.Client.BlazorWasm.Shared.UI.Composite
@using QuizTime.Client.BlazorWasm.Shared.UI.Element
@using QuizTime.Shared.Data
@inherits QuizTime.Client.BlazorWasm.Shared.UI.StateComponentBase

<Header Title="On Deck" ShowCloseButton="false" />
<ContentArea CustomClass="flex flex-col justify-around items-center space-y-8">
    <div class="flex flex-col justify-center items-center space-y-4">
        <div class="text-6xl text-@(State.ThemeColorString)-500">@State.CurrentPlayer.Name</div>
        <div class="text-4xl">You're next!</div>
    </div>

    @if (State.QuestionSetIds == null)
    {
        <div class="flex-auto flex flex-col justify-center items-center">
            <SpinKitWave/>
            <div class="-mt-8 text-lg text-gray-600">Fetching question set...</div>
        </div>
    }
    else if ( (!timeRemaining.HasValue || timeRemaining.Value > 0) )
    {
        <div class="flex flex-col justify-center items-center space-y-4">
            <div class="text-2xl text-@(State.ThemeColorString)-500"><strong>@State.QuestionSetIds.Count</strong> questions left</div>
        </div>

        <Countdown Duration=4 OnTimeRemainingChanged="@(time => OnTimeRemainingChanged(time))">
            <div class="text-6xl">@timeRemaining</div>
        </Countdown>
        
    }
    else if (isLoading)
    {
        <div class="flex-auto flex flex-col justify-center items-center">
            <SpinKitWave/>
            <div class="-mt-8 text-lg text-gray-600">Fetching next question...</div>
        </div>
    }

</ContentArea> 

<Footer />

@code
{
    protected uint? timeRemaining {get;set;}

    [Inject]
    protected HttpClient Http { get; set; }

    [Inject]
    protected QuizDataService DataService { get; set; }

    private bool isLoading;

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;

        // if needed, load the ids of the quizitems used for this play session
        //
        if (State.QuestionSetIds == null)
        {
            var itemIds = await DataService.GetQuizItemsIds(
                Http, State.CurrentPlayer.MinLevel, State.CurrentPlayer.MaxLevel);
            await Mediator.Send(new GameState.UpdateQuizQuestionSetAction { Value = itemIds });
        }
 
        var randomId = new Random().Next(0, State.QuestionSetIds.Count);
        var nextQuestion = await DataService.GetQuizItemById(Http, State.QuestionSetIds[randomId]);

        isLoading = false;

        await Mediator.Send(new GameState.UpdateQuizQuestionAction { Value = nextQuestion });

        if (timeRemaining == 0)
        {
            await Mediator.Send(new GameState.UpdatePlayModeAction { Value = PlayMode.Question });
        }
    }

    protected void OnTimeRemainingChanged(uint newTimeRemaining)
    {
        timeRemaining = newTimeRemaining;

        if (timeRemaining == 0 && !isLoading)
        {
            Mediator.Send(new GameState.UpdatePlayModeAction { Value = PlayMode.Question });
        }
    }
} 